header {
color: azure;
text-align: center;
font-size: 50px;
background-color: black;
  animation: fadeBackground 3s;
    animation-fill-mode: forwards;

}

table tr,td,th {
  border: 1px solid white;
  width: 1000px;
  height: 100px;
  color: white;
  animation: fadeBackground 3s;
    animation-fill-mode: forwards;
}


.h1 {
  color:white;
}
.div {
  color: white;

}
@keyframes fadeBackground {
  from {background-color: white;}
  to {background-color: black;}
  
}

