header {
color: azure;
text-align: center;
font-size: 50px;
background-color: black;

}

table tr,td,th {
  border: 1px solid white;
  width: 1000px;
  height: 100px;
  color: white;
}

.h1 {
  color:white;
}

