header {
color: azure;
text-align: center;
font-size: 50px;
background-color: black;
  
}

table tr,td,th {
  border: 1px solid white;
  width: 1000px;
  height: 100px;
  color: white;
  animation: fadeIn 5s;
 
}


.h1 {
  color:white;
}
.div {
  color: white;

}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
