.Pouf{
    height: 400px;
    width: 400px;
}

h1{
    text-align: center;
}
h2{
    color: white;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
h3{
    color: white;
    text-align: center;
}
.poulet{
    text-align: center;
}
.image{
    color: black;
}
.Gucci2{
    position:absolute;
    left: 250px;
    top: 125px;
    width:120px;
    padding:15px;
    border-radius: 15px;
    background-color: black;
    border: 1px solid white;
}
li {
    padding: 5px;
}
.buttonDrop{
    position:absolute;
    left:280px;
    color: black;
    background-color: white;
}



