.Pouf{
    height: 400px;
    width: 400px;
}

h1{
    text-align: center;
}
h2{
    color: white;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
h3{
    text-align: center;
}

