.logo {
    width: 210px;
    height: 210px;
}

.logo {
    animation-duration: 5s;
    animation-name: slidein;
    overflow: hidden;
}
@keyframes slidein {
    from{
       position: relative;
       left:-500px;
    }

to {
    position:relative;
    left: 0px;
}}


.Admin {
animation: Opacity 6s;
}

.Login{
    display:none;
}

@keyframes Opacity {
    from{opacity: 0%;}
    to{opacity: 100%;}
}
