* {
    box-sizing: border-box;
    background-color: black;
}
@keyframes fadeBackground {
    from {background-color: white;}
    to {background-color: black;}
}

body{
    margin: 0;
}
.site-title{
    font-size: 3rem;
}

.nav{
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;

}

.nav a{
    color: inherit;
    text-decoration: none;
    padding: 10px;
}

td {
    text-align: center;
    font-size: 50px;
    color: white;
    animation: fadeBackground 3s;
    animation-fill-mode: forwards;
}

img {
    border-radius: 25px;
    width: 150px;
    height: 100px;
    animation: fadeIn 5s;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    
}

.Défis {
    color:white;
}

ol {
    color:white;
    font-size: 35px;
}




